openapi: 3.0.1
info:
  title: Api Linkmobility
  version: "1.0"
servers:
  - url: https://linkmobility.dev.intern.nav.no
  - url: https://linkmobility.ekstern.dev.nav.no
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
security:
  - basicAuth: []
paths:
  /api/ping:
    get:
      tags:
        - Linkmobility
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
  /api/registersms:
    post:
      tags:
        - Linkmobility
      security: []
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        200:
          description: OK